<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Counter</title>
</head>
<body>
    <h1>Calorie Counter</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Calories</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
            {% for meal in meals %}
                <tr>
                    <td>{{ meal.name }}</td>
                    <td>{{ meal.calories }}</td>
                    <td>{{ meal.added_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>