{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Meals</h1>

    <a href="{% url 'insert_meal' %}">Add Meal</a>


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Calories</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
            {% for meal in meals %}
                <tr>
                    <td>{{ meal.name }}</td>
                    <td>{{ meal.calories }}</td>
                    <td>{{ meal.added_time }}</td>
                    <td><a href="edit/{{meal.id}}">Edit</a></td>
                    <td><a href="delete/{{meal.id}}" onclick="return confirm('Are you sure you want to delete this meal?')">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}